.input-style .MuiOutlinedInput-root fieldset {
  border-color: #02c39a;
}

.input-style .MuiOutlinedInput-root:hover fieldset {
  border-color: #00a896;
}

.input-style .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #00a896;
}

.form-button {
    margin-left: 0px !important;
}