body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #032b43;
}

.card {
  border: 1px solid #02c39a;
  margin-bottom: 1rem;
  background-color: #f0f3bd !important;
}

.button-style.MuiButton-root {
  margin-left: 1rem;
  background-color: #02c39a;
  color: #032b43;
}

.button-style:hover.MuiButton-root {
  background-color: #00a896;
  color: #032b43;
}

.anecdote-image {
  border-radius: 1rem;
}

.title {
  text-align: center;
}
